.button-store {
  display: inline-block;
  box-sizing: border-box;
  background-color: #252c41;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  color: #fff;
  width: 200px;
  height: 60px;
  margin-right: 0px;
  border: none;
}

.button-store.-second {
  background-color: transparent;
  border: 2px solid #fff;
  width: 218px;
  line-height: 56px;
  cursor: pointer;
  margin-right: 38px;
}
