.header-store {
  color: #fff;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  float: left;
}

.navigation {
  font-size: 21px;
  float: right;
}

.action {
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}

.last {
  margin-right: 0px;
}
