.header-store {
  color: #fff;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  text-transform: uppercase;
  font-size: 40px;
  float: left;
}

.header-store > .navigation {
  font-size: 21px;
  float: right;
}

.header-store .action {
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}

.header-store .action.-last {
  margin-right: 0px;
}
