.photo-product {
  background-color: #fff;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  height: 574px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 156px;
}
